
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
.container{
    text-align: center;
    background-color:rgb(47, 47, 47);
    width: 400px;
    height: 500px;
    margin-left: 570px;
    margin-top: 100px;
    border-radius: 5px;
}
.container input{
    border: none;
    outline: none;
    width: 380px;
    height: 100px;
    margin-top: 10px;
    font-size: 3.9em;
    text-align: end;
    background-color: rgb(178, 185, 183);
    margin-bottom: 10px;
}
.toppers button{
 border: none;
 height: 70px;
 width: 90px;
border-radius: 7px;
margin-bottom: 5px;
background-color: rgb(30, 144, 255);
}
.numbers button{
    border: none;
 height: 70px;
 width: 90px;
 border-radius: 7px;
 margin-bottom: 5px;
 background-color: rgb(33, 124, 126);
}
.part1{
    margin-left: 13px;
    margin-right: 5px;
}
.btns{
    display: flex;
}
.operations{
    display: flex;
    flex-direction: column;
}
.operations button{
    border: none;
    height: 70px;
    width: 90px;
    border-radius: 7px;
    margin-bottom: 5px;
    background-color: rgb(255, 143, 31);
}
.last .z{
  width: 180px;
}